<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <meta name="description" content="ddddddddddddddddddddddddddddddddddddddddddddddddddddddddd">
    <link rel="canonical" href="http://distincthomeinspectionllc.com/">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//s.w.org">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fjalla+One%7COpen+Sans%7C" type="text/css">
    <link rel="stylesheet" href="https://firehouseinspections.net/wp-content/plugins/easy-columns/css/easy-columns.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" id="hero-animations-lib-css" href="https://firehouseinspections.net/wp-content/plugins/css-hero-animator/assets/lib/animations.css?ver=4.7.2" type="text/css" media="all">
    <link rel="stylesheet" id="divi-style-css" href="https://firehouseinspections.net/wp-content/themes/Divi/style.css?ver=2.7.5" type="text/css" media="all">
    <link rel="stylesheet" id="et-shortcodes-css-css" href="https://firehouseinspections.net/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=2.7.5" type="text/css" media="all">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script type="text/javascript" src="https://firehouseinspections.net/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
    <script type="text/javascript" src="https://firehouseinspections.net/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
    <link rel="shortlink" href="https://distincthomeinspectionllc.com/">

    <style media="all" data-href="https://firehouseinspections.net/?wpcss_action=show_css">
        .post-44 .et_pb_section:nth-child(1) .et_pb_row:nth-child(2) {
            padding-bottom: 0px;
            padding-top: 0px;
        }

        .post-44 .et_pb_section:nth-child(1) {
            height: 600px;
        }

        .post-44 .et_pb_section:nth-child(2) {
            background-color: #2F4057;
            border-top-color: rgb(0, 0, 0);
            border-top-style: none;
            border-top-width: 2px;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        .post-44 .et_pb_section:nth-child(3) .et_pb_row:nth-child(1) {
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .post-44 .et_pb_section:nth-child(3) .et_pb_row:nth-child(2) {
            padding-top: 0px;
        }

        .post-44 .et_pb_section:nth-child(3) {
            padding-bottom: 70px;
            padding-top: 70px;
        }

        .post-44 .et_pb_section:nth-child(4) {
            background-color: rgb(255, 255, 255) !important;
            height: auto;
            padding-bottom: 20px;
            padding-top: 20px;
        }


        #booktitle.et_pb_text a {
            background-color: #2F4057;
            box-shadow: rgb(0, 0, 0) 1px 1px 4px;
            color: rgb(255, 255, 255);
            display: inline-block;
            font-size: 16px;
            margin-top: 15px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
            width: 185px !important;
        }

            #booktitle.et_pb_text a:hover {
                background-color: rgb(0, 0, 0) !important;
            }

        #booktitle.et_pb_text {
            background-color: rgba(0,0,0,0.8);
            border-bottom-style: none !important;
            border-color: rgb(0, 0, 0);
            border-style: none;
            border-width: 1px;
            box-shadow: rgba(0, 0, 0,0.6) 1px 1px 4px;
            display: inline-block;
            float: left;
            margin-top: 27px;
            padding-bottom: 20px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 20px;
        }

            #booktitle.et_pb_text h3 {
                color: rgb(255, 255, 255);
                font-family: Fjalla One;
                font-size: 32px;
                margin-top: 0px;
                text-shadow: none;
            }

            #booktitle.et_pb_text p {
                color: rgb(255, 255, 255);
                font-size: 15px;
                padding-bottom: 0px;
            }


        #contactbanner.et_pb_section {
            background-color: rgb(39, 36, 36) !important;
            height: auto;
            padding-bottom: 0px;
            padding-top: 0px;
        }

            #contactbanner.et_pb_section .et_pb_row:nth-child(1) {
                padding-bottom: 0px;
                padding-top: 0px;
            }



        #contacttrio2.et_pb_text h2 {
            color: #2F4057;
        }


        #contacttrio2.et_pb_text {
            margin-bottom: 10px;
            padding-top: 15px;
        }

            #contacttrio2.et_pb_text p {
                color: rgba(255, 255, 255, 0.901961);
            }

        #contacttrio.et_pb_text a {
            background-color: #2F4057;
            border-radius: 5px;
            border-style: solid;
            border-width: 2px !important;
            color: rgb(255, 255, 255);
            display: inline-block;
            font-size: 14px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
        }

            #contacttrio.et_pb_text a:hover {
                background-color: rgba(167,76,71,1) !important;
            }



        #contacttrio.et_pb_text h3 {
            color: #2F4057;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }

        #contacttrio.et_pb_text p {
            color: rgb(255, 255, 255);
            font-size: 16px;
            padding-bottom: 10px;
        }

        #hometext1.et_pb_text {
            background-color: rgba(255,255,255,0.8);
            border-bottom-color: #2F4057;
            border-bottom-style: none;
            border-bottom-width: 2px;
            box-shadow: rgbA(0, 0, 0,0.6) 1px 1px 4px;
            display: inline-block;
            float: left;
            margin-top: 175px;
            padding-bottom: 5px;
            padding-left: 22%;
            padding-right: 15px;
            padding-top: 10px;
        }

            #hometext1.et_pb_text h1 {
                font-family: Fjalla One;
                font-size: 42px;
                text-align: left !important;
            }

            #hometext1.et_pb_text h3 {
                font-family: Open Sans;
                font-size: 32px;
                font-weight: normal;
                padding-bottom: 5px;
                text-align: left !important;
            }

            #hometext1.et_pb_text img:not(.wp-smiley) {
                width: 85px;
            }


        #hometexter2.et_pb_text {
            color: rgb(255, 255, 255);
            font-size: 16px;
            line-height: 26px;
            margin-top: 2px;
            text-align: center;
        }

            #hometexter2.et_pb_text p {
                color: rgb(255, 255, 255);
                font-size: 16px;
                line-height: 26px;
            }





        #hometexter5.et_pb_text a {
            background-color: #2F4057;
            box-shadow: rgb(0, 0, 0) 1px 1px 4px;
            color: rgb(255, 255, 255);
            display: inline-block;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
        }

            #hometexter5.et_pb_text a:hover {
                background-color: rgb(167, 76, 71) !important;
            }

        #hometexter5.et_pb_text h3 {
            color: rgb(255, 255, 255);
            font-weight: bold !important;
        }



        #hometexter5.et_pb_text p {
            color: rgb(255, 255, 255);
            font-size: 16px;
            line-height: 26px;
        }

        #hometitlenew.et_pb_text h1 {
            color: rgba(255, 255, 255,1);
            font-size: 38px;
        }

        #hometitlenew.et_pb_text {
            margin-bottom: 10px;
        }

        #homewhiteitle.et_pb_text h1 {
            font-size: 42px;
        }

        #homewhiteitle.et_pb_text {
            margin-bottom: 0px;
        }



        html body div#et-secondary-menu {
            float: right;
            margin-right: -257px;
            margin-top: -9px;
        }

            html body div#et-secondary-menu ul.menu li a {
                background-color: #2F4057;
                color: rgb(255, 255, 255);
                font-size: 18px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 135px;
                padding-top: 10px;
                text-transform: uppercase;
                width: auto;
            }

        html body div#et-top-navigation {
            background-color: #2F4057;
            margin-top: 20px;
            padding-top: 12px;
        }

            html body div#et-top-navigation ul.nav li a {
                color: rgba(255,255,255,1);
                font-size: 16px;
                padding-bottom: 20px;
                text-transform: uppercase;
            }

        html body div#footer-bottom {
            background-color: transparent;
        }

            html body div#footer-bottom #footer-info a {
                color: rgba(255, 255, 255,1);
            }

            html body div#footer-bottom #footer-info {
                color: rgb(255, 255, 255);
            }

        html body div#top-header {
            background-color: transparent;
            height: 0px;
        }

            html body div#top-header #et-info a {
                color: #2F4057;
                font-size: 14px;
            }

            html body div#top-header #et-info {
                background-color: rgb(255, 255, 255);
                border-color: #2F4057;
                border-style: solid;
                border-width: 2px;
                float: right;
                margin-top: 23px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
            }

                html body div#top-header #et-info #et-info-phone {
                    color: #2F4057;
                    display: block;
                    font-size: 14px;
                    padding-bottom: 10px;
                }

        html body footer#main-footer {
            background-color: #2F4057;
        }

        html body header#main-header {
            background-color: rgb(255, 255, 255);
            box-shadow: rgb(0, 0, 0) 1px 1px 4px;
            height: 170px;
        }

            html body header#main-header #logo {
                height: 100px !important;
                margin-top: 10px;
                max-height: 100%;
            }


        #contacttrio.et_pb_text {
        }

        #hometexter5.et_pb_text {
        }

        html body div#et_mobile_nav_menu .select_page {
        }

        html body .mobile_nav {
        }

            html body .mobile_nav ul#mobile_menu {
            }

                html body .mobile_nav ul#mobile_menu li {
                }

        .post-44 .et_pb_section:nth-child(1) .et_pb_row:nth-child(1) {
        }

        .post-44 .et_pb_section:nth-child(2) .et_pb_row:nth-child(1) {
        }

        html body .mobile_nav ul#mobile_menu li a {
        }
    </style>
<style id="theme-customizer-css">
        .et_pb_section {
            padding: 54px 0;
        }
    </style>

    <link rel="shortcut icon" href="FAVICON.ICO">


    <style type="text/css" id="et-custom-css">
        .et_menu_container {
            padding: 0px !important;
        }

        #contacttrio .ezcol.ezcol-one-third {
            width: 30% !important;
        }

        span.mobile_menu_bar:before {
            color: white;
        }

        .et_menu_container {
            padding: 0px !important;
        }
    </style>
    <style type="text/css" id="et-builder-advanced-style">
        .et_pb_section_5.et_pb_section {
            background-color: #ffffff !important;
        }

        .et_pb_section_2 {
            background-image: url(http://distincthomeinspectionllc.com/images/blurryHouse.jpg);
        }

            .et_pb_section_2.et_pb_section {
                background-color: #ffffff !important;
            }

        .et_pb_section_0 {
            background-image: url(http://distincthomeinspectionllc.com/images/homepageHouse.jpg);
        }

            .et_pb_section_0.et_pb_section {
                background-color: #ffffff !important;
            }
    </style>
</head>

<body class="home page-template-default page page-id-44 desktop et_pb_button_helper_class et_fullwidth_nav et_fixed_nav et_show_nav et_cover_background et_secondary_nav_enabled et_secondary_nav_two_panels et_pb_gutter windows et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_centered et_pb_pagebuilder_layout et_full_width_page gecko" data-gr-c-s-loaded="true">

    <div id="page-container" style="padding-top: 170px; margin-top: -1px;" class="et-animated-content">

        <div id="top-header" class="">
            <div class="container clearfix">
                <div id="et-info">
                    <span id="et-info-phone"><a href="tel:1-256-749-5340">256-749-5340</a> </span>

                    <a href="mailto:distincthomeinspectionllc@gmail.com"><span id="et-info-email">DistinctHomeInspectionLLC@gmail.com</span></a>

                </div> <!-- #et-info -->


                <div id="et-secondary-menu">
                    <ul id="et-secondary-nav" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div> <!-- #et-secondary-menu -->

            </div> <!-- .container -->
        </div> <!-- #top-header -->


        <header id="main-header" data-height-onload="170" data-height-loaded="true" style="top: 0px;" class="">
            <div class="container clearfix et_menu_container">
                <div class="logo_container">
                    <span class="logo_helper"></span>
                    <a href="http://distincthomeinspectionllc.com/">
                        <img src="inc/logo.png" alt="Distinct Home Inspections" id="logo" data-height-percentage="54" data-actual-height="300" data-actual-width="456">
                    </a>
                </div>
                <div id="et-top-navigation" data-height="66" data-fixed-height="40">
                    <nav id="top-menu-nav">
                        <ul id="top-menu" class="nav">
                            <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-44 current_page_item menu-item-60">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">@Html.ActionLink("About Us", "About", "Home")</li>
                            <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58">@Html.ActionLink("Our Services", "Services", "Home")</li>
                            <li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222">@Html.ActionLink("Maintenance Tips", "Maintenance", "Home")</li>
                            <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>

                    <div id="et_mobile_nav_menu">
                        <div class="mobile_nav closed">
                            <span class="select_page">Select Page</span>
                            <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
                            <ul id="mobile_menu" class="et_mobile_menu" style="display: none;">
                                <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-44 current_page_item menu-item-60 et_first_mobile_item">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">@Html.ActionLink("About Us", "About", "Home")</li>
                                <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58">@Html.ActionLink("Our Services", "Services", "Home")</li>
                                <li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222">@Html.ActionLink("Maintenance Tips", "Maintenance", "Home")</li>
                                <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56">@Html.ActionLink("Contact", "Contact", "Home")></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198">@Html.ActionLink("Contact", "Contact", "Home")</li>

                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198">@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                            <ul id="mobile_menu" class="et_mobile_menu">
                                <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-44 current_page_item menu-item-60 et_first_mobile_item"><a href="http://distincthomeinspectionllc.com/">Home</a></li>
                                <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">@Html.ActionLink("About Us", "About", "Home")</li>
                                <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58">@Html.ActionLink("Our Services", "Services", "Home")</li>
                                <li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222">@Html.ActionLink("Maintenance Tips", "Maintenance", "Home")</li>
                                <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56">@Html.ActionLink("Contact", "Contact", "Home")</li>

                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198">@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- #et-top-navigation -->
            </div> <!-- .container -->
        </header> <!-- #main-header -->


        <div id="et-main-area">
            <div id="main-content">
                @RenderBody()
            </div>
            <footer id="main-footer">
                <div id="footer-bottom">
                    <div class="container clearfix">
                        <p id="footer-info">Copyright © 2017 <a href="http://distincthomeinspectionllc.com/">Distince Home Inspection </a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>